<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="ExtraText">

    <!-- Allows the app to access the internet, required for network operations -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.SupermarketApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Supermarket App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MySupermarketApplication"
        tools:targetApi="31">

        <!-- Main activity that launches when the app starts -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MySupermarketApplication">
            <intent-filter>
                <!-- Launches this activity when the app icon is tapped -->
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
